.Header {
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
  padding: 0.5em 1em 0.5em 5em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}

.Header nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s;
  font-weight: bold;
}

.Header nav a:hover {
  color: black;
}

.logo_scan {
  padding: 9px;
  position: fixed;
  background-color: white;
  border-bottom-right-radius: 2em;
}
